<html>
    <head>
        <title>imersaotech</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Imersão Tech</a></h1>
        </div>

        <div>
            <p>publicado: 29.12.2020, 16:43</p>
            <h2><a href="https://github.com/biangomes/projetos-e-estudos/blob/main/ferroviaria/ferroviaria.ipynb">EDA Ferroviária</a></h2>
            <p>Trata-se de uma companhia ferroviária fictícia que deseja implantar um novo sistema de propulsão. Fizemos uma Análise Exploratória de Dados a fim de responder perguntas que poderiam nos gerar <b>insights</b>.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="https://github.com/biangomes/projetos-e-estudos/blob/main/consumo-eletricidade/visualizando-grafico-de-consumo.ipynb">Consumo de energia</a></h2>
            <p>Estudo sobre séries estacionárias, plotagem de gráficos, etc.</p>
        </div>
    </body>
</html>