<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Django Girls Tutorial by Beatriz G.</title>
</head>
<body>
    </div>
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>

    <div>
        {% for post in posts %}
            <div>
                <p><i>Published: {{ post.created_at }}</i></p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>
    <!--
    <div>
        <p>Publicado em: 21.12.2021, 18:00:00</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>Publicado em: 21.12.2021, 18:02:00</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>

    <div>
        <p>Publicado em: 21.12.2021, 18:04:03</p>
        <h2><a href="">Meu terceiro post</a></h2>
        <p>Aenean eu leo quam. Aenean eu leo quam.</p>
    </div>-->
</body>
</html>